<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>WorldNewsFlash</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="main2.css" />
		<link rel="icon" href="heartThunder.png">
		<noscript><link rel="stylesheet" href="noscript.css" /></noscript>
	</head>
	<body>




          <!-- LOCAL INFORMATION -->

          <%# Right Half of the Page with your Pics %>
          <section class="mainSearchSection">
            <h3 class="peaksInterest"> What peaks my interests is ... </h3>
            <ul>
              <%# looping through the length of the collection called 'posts' %>
            <% for(var i=0; i<posts.length; i++) {%>
              <li>
                <%# this is an anchor tag referencing the post page with the specific hashed ID for that image %>
                <%# OUR LINK TO THE POST.EJS file! %>

                <a href="/post/<%= posts[i]._id%>">
                  <%# this is the source to display that image %>
                  <img src="<%= posts[i].imgPath%>">
                </a>
                <%# this will post the caption I gave to the picture and the starting # of likes (s) %>
                <span><%= posts[i].caption %></span>
                <span><%= posts[i].likes %></span>
                <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                <%# I added the fontAwesome script to get this to show in footer.ejs line #4 %>
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              </li>
            <% } %>
            </ul>
          <!-- IMAGE UPLOAD -->
          <!-- <h2>Add a post</h2> -->
          <%# Question for Leon: what does enctype mean? %>
          <%# Submitting this form will fire the /qpPost action which is a POST
          <form action="/qpPost" enctype="multipart/form-data" method="post">
             <input type="text" name="caption" value="">
             <input type="file" name="file-to-upload">
             <input type="submit" value="Upload">
           </form>
           %>
           <input type="text" name="topic" value="" id="topicChoice" placeholder="enter a topic or country here:">
           <button class="button primary headlineSearcher" id = "headlineSearcher" type="button" name="button" id="activate"> Let's find some headlines! </button>
           <br>
           <h3 id="titleDisplay"></h3>
           <h3> <a target="_blank" id="urlDisplayLink" href=""></a> </h3>
           <img id= "imageDisplay"src="" alt="">
           <button class="button primary" id="swipeLeft" type="submit" name="button"> Swipe Left! </button>
					 <button class="button primary" id="swipeRight" type="submit" name="button"> Swipe Right! </button>
         </section>
         <section class="roaming">
          <div class="page-header text-center">
              <h1> find out who swiped right ...   ;) </h1>
              <%# pressing logout will run the GET request of Loging Out %>
              <a href="/logout" class="btn btn-default btn-sm">Logout</a>
              <a href="/favoritesBoard" class="btn btn-default btn-sm" > Favorites Board</a>
          </div>
        </section>

				<h3><img src="<%= user.profileImg %>" alt=""> Profile Image </h3>
				<form action="/changeProfilePicture" enctype="multipart/form-data" method="POST">
                         <input type="file" name="file-to-upload">
                         <input type="submit" value="Upload">
                       </form>
<%- include('footer'); -%>
